@import './variables';

.button {
    min-width: 101px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s transform;
    border-radius: 7px;
    background-color: $main-color;
    cursor: pointer;
    border: none;
    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }

    .inner {
        position: relative;
        line-height: 18px;
        padding: 10px 18px;
    }

    &__secondary {
            background-color: $grey;
            border-radius: 7px;
    }


    &:hover {
        color: #fff;
        filter: brightness(120%);
        transform: translateY(-5px);
    }
    &:disabled{
        filter: grayscale(0.5);
    }

}